# NEED TO FIND WAY TO DEAL WITH MISSING VALUES AND I NEED TO VISUALIZE KMEANS RESULTS

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fant_2019.csv")

In [3]:
df.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Christian McCaffrey *+\McCaCh01,CAR,RB,23,16,16,0,2,0,...,19,1.0,NaN,355.0,471.2,477.2,413.2,215.0,1,1.0
1,2,Lamar Jackson*+\JackLa00,BAL,QB,22,15,15,265,401,3127,...,7,NaN,NaN,416.0,415.7,429.7,421.7,152.0,1,2.0
2,3,Derrick Henry *\HenrDe00,TEN,RB,25,15,15,0,0,0,...,18,NaN,NaN,277.0,294.6,303.6,285.6,136.0,2,3.0
3,4,Aaron Jones\JoneAa00,GNB,RB,25,16,16,0,0,0,...,19,NaN,NaN,266.0,314.8,322.8,290.3,125.0,3,4.0
4,5,Ezekiel Elliott*\ElliEz00,DAL,RB,24,16,16,0,0,0,...,14,NaN,NaN,258.0,311.7,319.7,284.7,117.0,4,5.0

In [4]:
cols = ["Player", "Tm", "FantPos", "FantPt", "PPR", "DKPt", "FDPt", "VBD"]
df = df[cols]

In [5]:
df["VBD"] = pd.to_numeric(df["VBD"], errors="coerce")
df["FDPt"] = pd.to_numeric(df["FDPt"], errors="coerce")
df["DKPt"] = pd.to_numeric(df["DKPt"], errors="coerce")
df["PPR"] = pd.to_numeric(df["PPR"], errors="coerce")
df["FantPt"] = pd.to_numeric(df["FantPt"], errors="coerce")
df = df.dropna()

In [6]:
from sklearn.cluster import KMeans

In [7]:
kmeans = KMeans(n_clusters=8, random_state=1)

In [9]:
kmeans.fit(df.drop(["Player", "Tm", "FantPos"], axis=1))

KMeans(random_state=1)

In [10]:
kmeans.cluster_centers_

array([[179.63157895, 251.78947368, 256.94736842, 215.73684211,
         48.36842105],
       [323.        , 323.2       , 346.7       , 337.575     ,
         59.25      ],
       [137.27272727, 180.86363636, 185.31818182, 159.09090909,
         13.72727273],
       [385.5       , 443.45      , 453.45      , 417.45      ,
        183.5       ],
       [149.63636364, 218.98636364, 223.44090909, 184.25909091,
         27.36363636],
       [280.33333333, 280.41666667, 298.91666667, 288.91666667,
         16.83333333],
       [247.16666667, 316.18333333, 323.51666667, 281.6       ,
        108.33333333],
       [ 89.5       , 147.825     , 151.825     , 118.7       ,
         12.75      ]])

In [11]:
df["tier"] = kmeans.labels_

In [12]:
df.head()

,Player,Tm,FantPos,FantPt,PPR,DKPt,FDPt,VBD,tier
0,Christian McCaffrey *+\McCaCh01,CAR,RB,355.0,471.2,477.2,413.2,215.0,3
1,Lamar Jackson*+\JackLa00,BAL,QB,416.0,415.7,429.7,421.7,152.0,3
2,Derrick Henry *\HenrDe00,TEN,RB,277.0,294.6,303.6,285.6,136.0,6
3,Aaron Jones\JoneAa00,GNB,RB,266.0,314.8,322.8,290.3,125.0,6
4,Ezekiel Elliott*\ElliEz00,DAL,RB,258.0,311.7,319.7,284.7,117.0,6

In [13]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74 entries, 0 to 73
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   74 non-null     object
 1   Tm       74 non-null     object
 2   FantPos  74 non-null     object
 3   FantPt   74 non-null     float64
 4   PPR      74 non-null     float64
 5   DKPt     74 non-null     float64
 6   FDPt     74 non-null     float64
 7   VBD      74 non-null     float64
 8   tier     74 non-null     int32
dtypes: float64(5), int32(1), object(3)
memory usage: 5.5+ KB